.header {
  grid-area: header;
  background-color: #001f54;
  color: #feffea;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: 500;
    margin: 0;
  }
}
